body {
    background: #f2f2f2;
    font-family: Arial;
}

.chatbox {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#chat {
    height: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}
